body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img{
    border: 2px dotted black;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}