body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img{
    border: 2px dotted black;
    padding: 20px;
    border-radius: 50%;
}

a {
    margin: 30px;   
}


img {
    width: 10rem;
}

button {
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 30px;
    border-radius: 15px; 

}

button:hover {
    background-color: red;
}

.pokemon-options {
    margin: 45px;
    padding: 45px;
    border: 5px solid grey;
    width: 35rem;
}

footer {
    margin: 30px;
    padding: 30px;
}